---
title: Real Yoga Magic | Gallery
---

<div>
	<h2>Gallery</h2>
	<div id="gallery">
		<%= image_tag 'bg.jpg'%>
		<%= image_tag 'bg1.jpg'%>
		<%= image_tag 'bg2.jpg'%>
		<%= image_tag 'bg3.jpg'%>
		<%= image_tag 'bg4.jpg'%>
		<%= image_tag 'bg5.jpg'%>
		<%= image_tag 'bg7.jpg'%>
		<%= image_tag 'bg8.jpg'%>
	</div>
</div>
